.url-div {
  display:flex;
  flex-direction: column;
}

.url-iframe {


}

.loading-gif-div {
  width: 400px;
  height: 190px;
  position: absolute;
  margin-top: 12px;
}

.loading-gif-div img {
  margin-top: 12px;
  padding: 8px;
  position: absolute;
}

.iframe-div {
  position: relative;
  width: 400px;
  height: 200px;
  margin-top: 12px;
}

.link-img {
  max-width: 400px;
  object-fit:contain;
  max-height: 200px;
}

.link-img-div {
  display: flex;
  margin-top: 12px;
}
