
.edit-account-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;

  display: flex;

}

.edit-account-nav {
  width: 38%;
  height: 100%;
  background-color: #2e3237;
  display: flex;
  justify-content: flex-end;
  padding-right: 2px;
}

.user-settings-p {
  color:#b9b9b9;
  font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding: 0 8px 8px;
}

.edit-account-forms {
  width: 62%;
  height: 100%;
  background-color: #36393f;
}

.edit-account-nav-items {
  padding: 60px 6px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 218px;
}

.my-account-div p {

  font-size: 14px;
  color:#c9c6c6
}

.my-account-div {
  padding: 5px 8px;
  border-radius: 1px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.my-account-div:hover {
  background-color: rgb(70, 70, 70);
  cursor: pointer;
}

.my-account-div:hover .account-p {
  color: white;
}
