/* TODO Add site wide styles */
html {
  min-width: 100vw;
  width: 100%;
overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  /* max-height: 100%;
   */
   /* min-height: 100%; */
   /* min-width: 100%; */
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;

}

#root {
  /* position: absolute; */
  /* min-width: 1980px;
  min-height: 1080px; */
  min-width: 100%;
}


#loading-icon {
  box-sizing: border-box;
  animation: spin-animation 1s infinite;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: fixed;
}

.loading-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}



.error-msg {
  color: red;
}

form input {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

form textarea {
  border-radius: 5px;
  padding: 5px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

/* Code for google maps/search problems with bootstrap

.selector-for-some-widget {
  box-sizing: content-box;
}

*/
