/* TODO Add site wide styles */
html {
  min-width: 100vw;
  width: 100%;
overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  /* max-height: 100%;
   */
   /* min-height: 100%; */
   /* min-width: 100%; */
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;

}

#root {
  /* position: absolute; */
  /* min-width: 1980px;
  min-height: 1080px; */
  min-width: 100%;
  background-color: #36393f;
}


#loading-icon {
  box-sizing: border-box;
  animation: spin-animation 1.5s infinite;
  border-radius: 100%;
  z-index: 1;
  object-fit:contain;
width: 160px;
height: 160px;
}

.loading-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
color:rgba(255, 255, 255, 0.678);
}

.loading-icon-div h3 {
  margin-top: 10px;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}



.error-msg {
  color: red;
}

form input {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

form textarea {
  border-radius: 5px;
  padding: 5px;
}

p {
 margin: 0;
 padding: 0;
}

h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* Code for google maps/search problems with bootstrap

.selector-for-some-widget {
  box-sizing: content-box;
}

*/

.popover {
  box-sizing: border-box;
  max-width: 342px;
}
