.login-container {
  background-image: url('https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  position: absolute;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  min-height: 100%;
  min-width: 100%;
}


.login-welcome-message {
  margin-bottom: 30px;
}


.login-welcome-message h2 {
  font-weight: 600;
  text-align: center;
  font-size: 25px;
}

.login-welcome-message p {
  text-align: center;
  color: #b9bbbe;
  font-size: 14px;
}

#login-register {
  color: rgb(78, 140, 210);
  filter: saturate(50%);
}

.login-email {
  display: flex;
  flex-direction: column;
  padding: 0;
}



.login-password {
  display: flex;
  flex-direction: column;

}

.signup-login-button {
  height: 20px;
  min-width: 130px;
  min-height: 44px;
  background-color: rgb(116, 56, 73);
  color: white;
  font-size: 15px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.signup-login-button:hover {
  background-color: rgb(144, 73, 93);
}

/*
#login-input-password {
  margin-bottom: 2vw;
} */

.login-register {
  display: flex;
  margin-top: 20px;
  font-size: 15px;
}

#login-register {
margin-left: 4px;
}

.login-input {
  height: 22px;
  margin: 10px 0;
  padding-left: 5px;
  /* size: 15px; */
  font-size: 14px;
}

.login-label {
  color: #b9bbbe;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .65vw;
}
