.home-page-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-content-container {
  position: relative;
}

.server-image-icon {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 100%;
  transition: border-radius .5s;
  background-color: #36393f;
  color: rgba(255, 255, 255, 0.849);
  display: flex;
  justify-content: center;
  align-items: center;
}




.server-image-icon:hover {
border-radius: 35%;
}


.server-image-icon-button {
  border: none;
  background: none;
  padding: 6px 0;
  margin: 0;
  cursor: pointer;
}

.server-image-icon-button h2 {
  padding: 0;
  margin: 0;
}

.home-nav-bar {
  box-sizing: border-box;
  background-color: #202225;
  padding: 0;
  /* padding-right: 4px; */
  width: 72px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for IE, Edge and Firefox */

.home-nav-bar::-webkit-scrollbar {
  display: none;
}


.home-nav-bar ul {
  padding: 0;
  margin: 0;
}
/*
.home-butab-div {
  padding: 5px;
} */

.server-tab-div {
  padding: 5px;
}


.server-sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
  color: white;
  width: 240px;
  flex: 0 0 auto;
  min-height: 0;
  vertical-align: baseline;
  min-height: 100%;

}

.server-sidebar-container nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  flex: 1 1 auto;
  min-height: 2px;
}

.channel-tab-div {
  height: 198px;
  list-style: none;
}

.server-nav-bottom {
  bottom: 0;
  height: 24px;
  left: 0;
  right: 0;
  position: absolute;
}

.server-tab-div {
  display: flex;
  justify-content: space-between;

}

.server-tab-div h4 {
  padding: 16px 12px;
  margin: 0;
}

.server-tab-div i {
  display: flex;
  align-items: center;
}

#server-tab-div-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 8px;
  color: white;
  border-bottom: solid .2px rgba(0, 0, 0, 0.623);
}

#server-tab-div-button:hover {
  background-color:rgba(83, 86, 91, 0.799)
}

.server-create-form {
  display: flex;
  flex-direction: column;
  align-items: right;
  /* justify-content: right; */
}

.server-create-form-msg {
  text-align: center;
  padding: 20px 20px 0 20px;
  width: 440px;
}

.server-create-form-msg h2 {
  padding: 0;
  margin: 0;
}

.server-create-form-msg p {
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

/* DROPDOWN */

#profile-dropdown-nav {
  background-color: #18191c;
  outline: none;
  position: absolute;
  min-height: auto;
  bottom: -40px;

  border: 1px solid gray;
  display: block;
  /* width: 40px; */
  left: -1px;
  padding: 0;
  width: 100%;

}

#profile-dropdown-nav button {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  cursor: pointer;
  /* text-align: left; */
  /* padding-left: 8px; */
  color: white;
}

#profile-dropdown-nav button:hover {
  background-color: #3a3b3fc7;
}

#profile-dropdown-nav li {
  display: list-item;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;

}

#profile-dropdown-nav li p {
  font-size: 12px;
  /* padding: 0; */
  margin: 4px;

}

.dropdown-container {
  position: relative;
  z-index: 2;
  margin-top: 22px;
}

/* Edit server modal */

.server-image-icon-edit {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  background-color: rgba(91, 87, 228, 0.985);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 0;
  margin: 10px 0;
  color: white;
  margin-bottom: 14px;
}

.server-overview-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.server-overview-buttons button {
  margin-top: 10px;
  width: 125px;
  height: 25px;
  border-radius: 10px;
  background-color:#950652;
  border: none;
  color: white;
  cursor: pointer;
}

.channel-list-text-channel {
display: flex;
 align-items: center;
 padding-top: 10px;
 margin-left: 5px;
 color:rgba(204, 205, 206, 0.778);
 height: 20px;
}

.channel-list-text-channel  p {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  left: 14px;
  font-size: 14px;
}

.channel-text-chatab-div {
display: flex;
justify-content: space-between;
align-items: center;
}

#channel-dropdown-button {
  padding: 0;
  border: none;
  background: none;
  margin: 0;
}

.channel-list-text-channel:hover {
  color: rgba(229, 230, 232, 0.968);
  cursor: pointer;
}

#channel-add {
  padding: 0;
  border: none;
  background: none;
  margin: 0;
  color:rgba(204, 205, 206, 0.778);
  padding-top: 6px;
  padding-right: 10px;
}

#channel-add:hover {
  color: rgba(229, 230, 232, 0.968);
  cursor: pointer;
}

.channel-general-button {
  padding: 0;
  border: none;
  background: none;

  color:rgba(204, 205, 206, 0.778);
  display: flex;
  align-items: center;
margin-left: 5px;
display: flex;
align-items: center;
cursor: pointer;
}

.channel-general-button p {
  padding-left: 5px;
  font-size: 15px;
  /* padding-bottom: 2px; */
  margin: 0;
  margin-bottom: 4px;
}

.channel-general-container {
height: 32px;
margin: 0 7px;
margin-top: 5px;
display: flex;
align-items: center;
justify-content: space-between;
}

.channel-general-container:hover {
  background-color: rgba(229, 230, 232, 0.214);
  cursor: pointer;
}



.channel-settings {
  padding: 0;
  border: none;
  background: none;
  margin: 0;
  color:rgba(204, 205, 206, 0.778);
  cursor: pointer;
  padding-right: 4px;
  display: none;
}

.channel-general-container:hover .channel-settings {
display:block;
}

.usertab-container img {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
  transition: border-radius .5s;
  background-color: #36393f;
  color: rgba(255, 255, 255, 0.849);
  display: flex;
  justify-content: center;
  align-items: center;
}

.usertab-default-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
  background-color: #950652;
  transition: border-radius .5s;
}

.usertab-container {
  display: flex;
  justify-content: space-between;
  background-color:#35373c;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.usertab-image-username {
  display: flex;
  align-items: center;
  padding: 5px;
}

.usertab-image-username h4 {
  margin: 0;
  margin-left: 10px;
}

#usertab-gear-icon {
  padding: 0;
  border: none;
  background: none;
  color:rgba(255, 255, 255, 0.432);
  margin-right: 14px;
}

#usertab-gear-icon:hover {
  color:rgba(255, 255, 255, 0.634);
  cursor: pointer;
}

.server-name-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: rgba(26, 24, 24, 0.607) solid .2px;
  height: 48px;
}

#server-name-div-button{
  padding: 0;
  border: none;
  background: none;
  margin: 0;
  color: rgb(255, 255, 255);

}


.server-name-div:hover {
  cursor: pointer;
  background-color: rgba(229, 230, 232, 0.214);
}

.channel-text-channel-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#channel-description {
  /* margin-left: 10px; */
  font-size: 14px;
  color:rgba(229, 230, 232, 0.686)
}

#user-picture-preview img {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 100%;
}

#user-picture-preview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#user-picture-preview h4 {
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
}

#profile-pic-label {
  width: 100px;
}
#profile-pic-label > input{
  display: none;
}
/* CHAT */

.server-chat-container {
  background-color: #36393f;
  width: 100%;
  height: 100%;

}

.channel-chat-container {
  width: 100%;
  height: 100%;

}

.channel-chat-form {
  position: absolute;
  margin: 18px;
  bottom: 6px;
  width: 69%;
  height: 30px;
  padding: 5px;
  background-color:#62656a7c;
display: flex;
align-items: center;
border-radius: 7px;
}



#channel-chat-input {
  width: 99.4%;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: rgba(255, 255, 255, 0.791);

}

.server-chat-header {
  color: white;
  display: flex;
  height: 48px;
  border-bottom: rgba(26, 24, 24, 0.607) solid .2px;
  align-items: center;
  padding-left: 8px;
}

.server-chat-header p {
  padding: 0 4px;
}

#server-chat-header-hash {
  color: rgba(255, 255, 255, 0.432);
}

.channel-chat-messages {
  margin: 49px 16px 0px 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
flex-direction: column-reverse;
flex: 1 1 0;
position: absolute;
bottom: 69px;
top: 0;
min-width: 70%

}

.channel-chat-profile-image {
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 100%;
  background-color: #950652;
  transition: border-radius .5s;
}

.channel-message-div {
  padding-left: 60px;
  position: relative;
  height: 60px;
  flex-shrink: 0;
  height: fit-content;
  min-height: 60px;
flex-basis: auto;
  width: 100%;
  margin: 6px;
}


.channel-chat-user-msg h4 {
  padding: 0;
  margin: 0;
  color: white;
  margin-bottom: 6px;

}

.channel-chat-user-msg p {
  color: white;
}

.home-nav-bar-item {
  padding: 5px 0;
}

.home-nav-bar-home-button {
  padding: 4px 0;
  margin-bottom: 6px;
  margin-top: 32px;
  padding-bottom: 10px;
  border-bottom: .2px solid rgba(128, 128, 128, 0.38);
  width: 48px;
}

.channel-chat-user-msg {
  word-break: break-word;
  width:  90%;
  align-items: center;
  /* margin-bottom: 8px; */
}

.message-edit-button {
  padding: 0;
  border: none;
  background: none;
  margin: 0;
  color:rgba(204, 205, 206, 0.778);
  cursor: pointer;
  padding-right: 8px;
  display: none;

}

.message-edit-button:hover {
  color: white;
  /* padding: 20px; */
}

.message-content:hover .message-edit-button {
display:block;
width: 100%;



}

.message-content {
  display: flex;
  justify-content: space-between;
  /* padding: 6px; */
  padding: 6px;
  margin: 5px;
  /* width: 100%; */
  position: relative;
  right: 10px;
  /* padding-right: 50px; */
  width: 100%;
/* margin-bottom: 10px; */
}


.message-content:hover {
  background-color:rgba(0, 0, 0, 0.189);
  border-radius: 8px;
  width:100%;
  /* padding: 0 10px; */

}

#message-edit-instructions {
  font-size: 12px;
  margin-top: 2px;
  margin-left: 4px;
}

#message-edit-instructions i {
width: 20px;
height: 20px;
  color: red;

}

#message-edit-instructions button {
  padding: 0;
  border: none;
  background: none;
  /* width: 20px; */
height: 20px;
  margin: 0 4px;
  cursor:pointer;
}

.message-content-edited p {
  /* width: 1200px; */
  padding-right: 10px;
  /* margin-bottom: 10px; */
}

.message-edit-input-container {
  width: 99%;
}

.message-edit-container {
  width: 100%;
}

.message-edit-input-container button {
  padding: 0;
  border: none;
  background: none;
  margin: 0;
  cursor:pointer;
}

.message-edit-input-container i {
  color: red;
  margin-left: 5px;
}

.message-content-edit {
  height: 24px;
  width: 100%;
font-size: 16px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: rgba(255, 255, 255, 0.791);
  background-color:#62656a7c;
  border-radius: 6px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.channel-chat-user-msg h4 {
margin: 0;
padding: 0;
}

#message-edited {
  font-size: 11px;
  margin-left: 6px;
  margin-top: 2px;
  color:rgba(229, 230, 232, 0.968)
}

.message-content-edited {
  display: flex;
  align-items: center;
  width: 1150px;
}

.message-edit-delete {
  display: flex;
  margin-left: 20px;
  position:absolute;
  right: 0;
}

.chat-container {
  display: flex;
}


/* SPLASH */

.splash-nav-ul {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  list-style: none;
}

.splash-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-weight:bold;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.splash-nav a {
  color: white;
  text-decoration: none;
  /* color: white; */
}

.splash-sign-in {
display: flex;
justify-content: space-evenly;
width: 180px;
}

.splash-text-div h1{
position: absolute;
  z-index: 2;
  color: white;
  top: 180px;
  left: 20%;
  font-size: 45px;

}

.splash-text-div p{
  position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    top: 300px;
    left: 48%;
    font-size: 34px;
    width: 800px;
    text-shadow:0 20px 20px transparent;


  background-image: linear-gradient(30deg, #ffffffd5, #ffffff);
  background-clip: text;
  color: transparent;

  }

  #video-dj {
    width: 100%;
    height: 100%;
  }

  #video-violin {
    margin-top: 100px;
    width: 800px;
    margin-left: 200px;
  }

  .splash-violin-div {
    display: flex;
    align-items: center;
    font-size: 20px;

  }

  .splash-violin-div h2 {
    position: relative;
    margin-left: 8%;
    font-size: 50px;
    margin-right: 4%;
    width: 600px;
    margin-top: 2%;
  }


  /* FORMS */

  .login-form {
    color: white;
    padding: 32px;
    background-color: #36393f;
    z-index: 2;
    border-radius: 5px;
    width: 500px;
  }


  /*  SERVER MEMBERS */

  .server-members {
    background-color:#2f3136;
    min-width: 15%;
    min-height: 2050px;
  }

  #invite-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #invite-button {
    width: 200px;
    padding: 6px;
    background-color:#950652;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .invite-profile-icon-div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  #invite-cancel-button {
    position: absolute;
    right: 0;
    top: 54px;
    border: none;
    cursor: pointer;
    background: none;
    color: rgba(255, 255, 255, 0.723);
  }

  #invite-profile {
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
 background-color: #2f3136;
 /* background:transparent; */
 color: white;
  }

  #invite-button:hover {
    background-color:#943869;
  }

  .invite-user-item-div {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    align-items: center;
    padding-right: 8px;
  }

  .invite-user-item-div:hover {
    background-color:#2a3038c1;
    border-radius: 10px;
  }

  .invite-user-item-div button {
    margin: 0;
  }

  .invite-user-list ul {
    padding: 0;
    margin: 0;
  }

  .invite-user-list{
 height: 400px;
 width: 500px;
 overflow: scroll;
  }

  .invite-user-item {
    list-style:none;
    margin: 10px;
    color: white;

  }

  .invite-user-item-button {
    margin-bottom: 10px;
    background-color: transparent;
 /* background-color: #2f3136; */
 /* background:transparent; */
 color: white;
 border: 1px solid #950652;
 cursor: pointer;
 border-radius: 4px;
 padding: 5px 20px;
  }


  .invite-user-item-button:hover {
    background-color:#950652;
  }

  .invite-user-container {
    padding: 20px;

    background-color:#252a31e1;
    border-radius: 8px;
  }

  .invite-user-heading {
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
  }

  .invite-image-username {
    display: flex;
    align-items: center;
    margin: 8px;
  }

  .usertab-default-profile-image-invite {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #950652;
    transition: border-radius .5s;
  }

  .online-card-container p {
color:rgba(255, 255, 255, 0.432);
margin: 20px;
  }

  #crown {
    color: rgb(209, 116, 16);
  }

  .server-members-titles {
    padding: 10px;
    margin-top: 10px;
    padding-left: 16px;
    color:rgba(255, 255, 255, 0.432)
  }

  .offline-card-container img {
    filter: blur(8px);
    -webkit-filter: blur(1px);
    margin-top: 2px;
  }

  .user-offline-image-nourl {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #950652;
    transition: border-radius .5s;
    margin-left: 2px;
    filter: blur(8px);
    -webkit-filter: blur(3px);
  }

  .user-online-image-nourl {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #950652;
    transition: border-radius .5s;
    margin-left: 2px;

  }

  #offline-user {
    color:rgba(102, 110, 123, 0.799);
    padding-left: 20px;
  }

  .edit-profile-image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-profile-image-preview label {
    padding: 10px;
  }

  .edit-profile-image-preview input[type="file"] {
    display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload > input{
  display: none;
}

.profile-edit-form {
  color: white;
  padding: 32px;
  background-color: #36393f;
  z-index: 2;
  /* border-radius: 5px; */
  width: 500px;
  height: 425px;
  border-radius: 10px;
}

.profile-edit-form button {
cursor: pointer;

    background-color:#950652;

}

.profile-edit-form-password {
  color: white;
  padding: 32px;
  background-color: #36393f;
  z-index: 2;
  /* border-radius: 5px; */
  width: 500px;
}

.profile-edit-form-password2 {
  color: white;
  padding: 32px;
  background-color: #36393f;
  z-index: 2;
  /* border-radius: 5px; */
  width: 500px;

}



.button-div-password {
  display: flex;
  justify-content: space-evenly;
}

.button-div-password button {
  margin-top: 10px;
  width: 125px;
  border-radius: 10px;
  background-color:#950652;
  border: none;
  color: white;
  cursor: pointer;
}

.button-div-user {
  cursor: pointer;

  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
}

.button-div-user button {
  width: 125px;
  border-radius: 10px;
  background-color:#950652;
  border: none;
  color: white;
  height: 20px;
}

.home-button-div button:hover {
cursor: pointer;
}

.channel-edit-form {
  color: white;
  padding: 32px;
  background-color: #36393f;
  z-index: 2;
  /* border-radius: 5px; */
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.server-edit-form {
  color: white;
  padding: 32px;
  background-color: #36393f;
  z-index: 2;
  /* border-radius: 5px; */
  width: 500px;
  height: 550px;
  border-radius: 10px;
}

.server-edit-form-real {
  color: white;
  padding: 32px;
  background-color: #36393f;
  z-index: 2;
  /* border-radius: 5px; */
  width: 500px;
  height: 510px;
  border-radius: 10px;
}

.channel-input{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
}

#channel-submit {
  margin-top: 20px;
  width: 100px;
}

.server-edit-image {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.private-input h4 {
  padding: 0;
  margin: 10px 0;
}

.private-input {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.privacy-option {
  display: flex;
}

.server-create-form {
  color: white;
  padding: 32px;
  background-color: #36393f;
  z-index: 2;
  /* border-radius: 5px; */
  width: 500px;
  height: 325px;
  border-radius: 10px;
}

.server-file-upload {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  flex-direction: column;
  align-items: center;
}
