.home-page-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-content-container {
  position: relative;
}

.server-image-icon {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 100%;
  transition: border-radius .5s;
  background-color: #36393f;
  color: rgba(255, 255, 255, 0.849);
  display: flex;
  justify-content: center;
  align-items: center;
}



.server-image-icon:hover {
border-radius: 35%;
}


.server-image-icon-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.server-image-icon-button h2 {
  padding: 0;
  margin: 0;
}

.home-nav-bar {
  background-color: #202225;
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for IE, Edge and Firefox */

.home-nav-bar::-webkit-scrollbar {
  display: none;
}


.home-nav-bar ul {
  padding: 0;
  margin: 5px;
}

.home-button-div {
  padding: 5px;
}

.server-list-div {
  padding: 5px;
}


.server-sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
  color: white;
  width: 240px;
  flex: 0 0 auto;
  min-height: 0;
  vertical-align: baseline;
  min-height: 100%;
}

.server-sidebar-container nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  flex: 1 1 auto;
  min-height: 2px;
}

.channel-list-div {
  height: 198px;
  list-style: none;
}

.server-nav-bottom {
  bottom: 0;
  height: 24px;
  left: 0;
  right: 0;
  position: absolute;
}

.server-name-div {
  display: flex;
  justify-content: space-between;

}

.server-name-div h4 {
  padding: 16px 12px;
  margin: 0;
}

.server-name-div i {
  display: flex;
  align-items: center;
}

#server-name-div-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 8px;
  color: white;
  border-bottom: solid .2px rgba(0, 0, 0, 0.623);
}

#server-name-div-button:hover {
  background-color:rgba(83, 86, 91, 0.799)
}

.server-create-form {
  display: flex;
  flex-direction: column;
  align-items: right;
  /* justify-content: right; */
}

.server-create-form-msg {
  text-align: center;
  padding: 20px 20px 0 20px;
  width: 440px;
}

.server-create-form-msg h2 {
  padding: 0;
  margin: 0;
}

.server-create-form-msg p {
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

/* DROPDOWN */

#profile-dropdown-nav {
  background-color: #18191c;
  outline: none;
  position: absolute;
  min-height: auto;
  bottom: -40px;

  border: 1px solid gray;
  display: block;
  /* width: 40px; */
  left: -1px;
  padding: 0;
  width: 100%;
}

#profile-dropdown-nav button {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;

  /* text-align: left; */
  /* padding-left: 8px; */
  color: white;
}

#profile-dropdown-nav li {
  display: list-item;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;

}

#profile-dropdown-nav li p {
  font-size: 12px;
  /* padding: 0; */
  margin: 4px;

}

.dropdown-container {
  position: relative;
}

/* Edit server modal */

.server-image-icon-edit {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  background-color: rgba(91, 87, 228, 0.985);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 0;
  margin: 0;
  color: white;
}

.server-overview-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}
